<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuangfei.android_timetableview"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".views.BaseFuncActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.AttrActivity" />
        <activity android:name=".views.NonViewActivity" />
        <activity android:name=".views.ElasticActivity" />
        <activity android:name=".views.ColorPoolActivity" />
        <activity android:name=".views.ItemStyleActivity" />
        <activity android:name=".views.DateActivity" />
        <activity android:name=".views.SlideActivity" />
        <activity android:name=".views.ExtrasActivity" />
        <activity android:name=".views.FlaglayoutActivity" />
        <activity android:name=".views.DateDelayActivity"></activity>
        <activity android:name=".views.CustomWidthActivity"></activity>
    </application>

</manifest>