*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

/local.properties
.DS_Store
/captures
.externalNativeBuild

bin/
gen/
out/

.gradle/
build/